<mat-card>
  <mat-card-title>New user</mat-card-title>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Login</mat-label>
      <input matInput minlength="8" required="true" type="text" [(ngModel)]="login" /> </mat-form-field
    ><br />
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput minlength="8" required="true" type="password" [(ngModel)]="password" /> </mat-form-field
    ><br />
    <mat-form-field appearance="fill">
      <mat-label>Role</mat-label>
      <mat-select [(ngModel)]="selectedRole">
        <mat-option *ngFor="let role of roles" [value]="role.value">
          {{ role.viewValue }}
        </mat-option>
      </mat-select></mat-form-field
    >
    <br />
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="sendJson()">Add user</button>
  </mat-card-actions>
</mat-card>
