<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Login</mat-label>
    <input
      matInput
      minlength="8"
      required="true"
      type="text"
      [(ngModel)]="data.user.login"
    /> </mat-form-field
  ><br />
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input
      matInput
      minlength="8"
      type="password"
      [(ngModel)]="data.user.password"
    /> </mat-form-field
  ><br />
  <mat-form-field appearance="fill">
    <mat-label>Role</mat-label>
    <mat-select [(ngModel)]="data.user.role">
      <mat-option *ngFor="let role of roles" [value]="role.value">
        {{ role.viewValue }}
      </mat-option>
    </mat-select></mat-form-field
  >
  <br />
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [mat-dialog-close] (click)="onNoClick()">No</button>
  <button mat-button [mat-dialog-close]="true" (click)="onYesClick()">Yes</button>
</mat-dialog-actions>
