<table mat-table [dataSource]="warehouseStatesList">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nazwa</th>
    <td mat-cell *matCellDef="let warehouseState">{{ warehouseState.name }}</td>
  </ng-container>
  <ng-container matColumnDef="pricePerPiece">
    <th mat-header-cell *matHeaderCellDef>Cena za sztukę</th>
    <td mat-cell *matCellDef="let warehouseState">
      {{ warehouseState.pricePerPiece }} zł
    </td>
  </ng-container>
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Ilość w magazynie</th>
    <td mat-cell *matCellDef="let warehouseState">
      {{ warehouseState.amount }}
    </td>
  </ng-container>
  <ng-container matColumnDef="isFlower">
    <th mat-header-cell *matHeaderCellDef>Rodzaj produktu</th>
    <td mat-cell *matCellDef="let warehouseState">
      <div *ngIf="warehouseState.isFlower; else elseBlock">Kwiat</div>
      <ng-template #elseBlock>Inne</ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="addToShoppingCart">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let warehouseState; let rowIndex = index">
    <mat-form-field style="width: 35px;">
      <input matInput type="number" min="0" [max]="warehouseState.amount" [(ngModel)]="amountToBuyTable[rowIndex]">
    </mat-form-field>
      <button mat-icon-button color="primary" (click)="addToShoppingCart(warehouseState)">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th  mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let warehouseState">
      <button  *ngIf="this.role==='ROLE_USER'"
        mat-icon-button
        color="primary"
        (click)="delete(warehouseState)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="add">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let warehouseState">
      <button
        mat-icon-button *ngIf="this.role==='ROLE_USER'"
        color="primary"
        (click)="addAmount(warehouseState)"
      >
        <mat-icon>add</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let warehouseState">
      <button
        mat-icon-button *ngIf="this.role==='ROLE_USER'"
        color="primary"
        (click)="edit(warehouseState)"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>
