.spacer {
    flex: 1 1 auto;
}
.button-container {
    display: flex;
    justify-content: center;
    width: 170px;
    font-size: large;
}
.shopping-cart {
    margin-left: 20px;
    margin-right: 20px;
}