<mat-card>
  <mat-card-title>New product</mat-card-title>
  <form #newWarehouseStateForm="ngForm" (ngSubmit)="sendJson()">
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input name="name" matInput type="text" [(ngModel)]="name" required/>
      </mat-form-field><br />
      <mat-form-field appearance="fill">
        <mat-label>Price per piece</mat-label>
        <input name="pricePerPiece" matInput type="number" [min]="1" [(ngModel)]="pricePerPiece" required/>
      </mat-form-field><br />
      <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input name="amount" matInput type="number" [(ngModel)]="amount" required/>
      </mat-form-field><br />
      <mat-checkbox name="isFlower" [(ngModel)]="isFlower" ngDefaultControl>Flower</mat-checkbox>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit" [disabled] = "!newWarehouseStateForm.valid" >Add product</button>
    </mat-card-actions>
  </form>
</mat-card>
