<div class="empty-cart" *ngIf="this.totalSum==0">
  Twój koszyk jest pusty
</div>

<div class="row" *ngIf="this.totalSum>0">
  <div class="column">
    <table mat-table [dataSource]="shoppingCartRecords">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nazwa</th>
        <td mat-cell *matCellDef="let record">{{ record.warehouseState.name }}</td>
      </ng-container>
      <ng-container matColumnDef="pricePerPiece">
        <th mat-header-cell *matHeaderCellDef>Cena za sztukę</th>
        <td mat-cell *matCellDef="let record">
          {{ record.warehouseState.pricePerPiece }} zł
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Ilość</th>
        <td mat-cell *matCellDef="let record">{{ record.amountToBuy }}</td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let record">
          <button mat-icon-button color="primary" (click)="delete(record)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
    <br><br>
    <div class="info">
      Koszt wysyłki jest wliczony w koszt zamówienia. <br><br>
    </div>
    <div class="total-sum">
      <b>Łącznie {{totalSum}} zł</b>
    </div>
  </div>

  <div class="column">
    <br>
    <mat-stepper orientation="vertical" [linear]="true" #stepper>
      <mat-step [stepControl]="senderFormGroup">
        <form [formGroup]="senderFormGroup">
          <ng-template matStepLabel>Dane nadawcy</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Imię</mat-label>
            <input matInput formControlName="nameCtrl" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Nazwisko</mat-label>
            <input matInput formControlName="lastNameCtrl" required>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Numer telefonu</mat-label>
            <input matInput placeholder="777232555" maxlength="9" formControlName="phoneNumberCtrl" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Adres email</mat-label>
            <input matInput placeholder="adres@gmail.com" formControlName="emailCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Dalej</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="receiverFormGroup">
        <form [formGroup]="receiverFormGroup">
          <ng-template matStepLabel>Dane odbiorcy</ng-template>

          <mat-form-field appearance="fill">
            <mat-label>Imię</mat-label>
            <input matInput formControlName="nameCtrl" required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Nazwisko</mat-label>
            <input matInput formControlName="lastNameCtrl" required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Miasto</mat-label>
            <input matInput formControlName="cityCtrl" placeholder="Np. Wrocław" required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Ulica</mat-label>
            <input matInput formControlName="streetCtrl" placeholder="Np. Grunwaldzka" required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Numer budynku</mat-label>
            <input matInput formControlName="buildingNumberCtrl" placeholder="Np. 18C" required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Numer mieszkania</mat-label>
            <input matInput formControlName="apartmentNumberCtrl" placeholder="Np. 6" required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Kod pocztowy</mat-label>
            <input matInput formControlName="postCodeCtrl" placeholder="Np. 50-357" required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Data dostarczenia</mat-label>
            <input formControlName="deliveryDateCtrl" matInput [matDatepicker]="picker" [min]="today">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker  #picker></mat-datepicker>
          </mat-form-field>

          <div>
            <button mat-button matStepperPrevious>Wróć</button>
            <button mat-button matStepperNext>Dalej</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Gotowe</ng-template>
        <p>Przed złożeniem zamówienia sprawdź czy wszystkie wprowadzone dane są poprawne.</p>
        <div>
          <button mat-button matStepperPrevious>Wróć</button>
          <button mat-button (click)="makeOrder()">Złóż zamówienie</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>